numpy==1.26.4
fastapi==0.112.1
uvicorn==0.32.0
matplotlib==3.9.2
pydantic==2.8.2
sqlalchemy==2.0.32
pandas==2.2.2
catboost==1.2.5
category_encoders==2.6.3
seaborn==0.13.2
sklearn==1.4.2
torch==2.3.0
transformers==4.46.2
psycopg2==2.9.10